<app-header titulo="Card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
      aspernatur dignissimos, in laborum minus modi soluta ducimus iure
      repellendus voluptatem eos commodi. Facere totam non sed voluptatum minima
      quasi laboriosam.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2014/06/342976-todo-metal-gear-solid-v-vi.png?itok=04A-meBY"
      alt=""
    />
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum impedit quae
      rem iste, mollitia perferendis labore maxime neque eaque deserunt
      voluptate dolore dolorum ut illum molestiae modi saepe officia
      necessitatibus!
    </ion-card-content>
  </ion-card>
</ion-content>
